@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-weight: 600
}

.loginButton {
    background-color: rgb(124, 154, 124);
    border-color: rgb(124, 154, 124);
}